/* 
Name: Virushen Tharmarajah
File: cool-style.css
Date: 22 June 2025
Box styling to rubric spec with shadow, rem, gradient
*/

body {
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
}

h1 {
  color: #333;
}

.box {
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 0%);
  border: 1px solid #3e8e41;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2), 2px 2px 5px rgba(0,0,0,0.1);
  color: black;
  font-size: 1.2rem;
  padding: 20px;
  margin: auto;
  width: 350px;
  text-shadow: 1px 1px 2px black;
}
